*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: sans-serif; 
    color: rgb(1, 1, 94);
}
header{
    height: 20%;
    padding: 20px 0;
}
h1{
    text-align: center;
    margin-bottom: 25px;
}
nav{
    margin: 20px 0;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.item_menu:hover{
    background-color: rgb(1, 1, 94);
    border: 1px solid rgb(1, 1, 94);
    border-radius: 19px;
    padding: 5px 15px;
    color: white;
}
h2{
    text-align: center;
    margin: 40px 0;
}
footer{
    margin-top: 50px;
    padding: 40px 20px;
    background-color: rgb(1, 1, 94);
    color: white;
}
.caixa_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}
.item_footer{
    flex: 1;
    min-width: 250px;
}
.item_footer h3, .item_footer h4, .item_footer h5{
    margin-bottom: 10px;
    color: white;
}
.item_footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.item_footer li{
    margin-bottom: 10px;
}
.item_footer a{
    color: white;
    text-decoration: none;
}
.item_footer a:hover{
    text-decoration: underline;
}
.caixa_sobre{
    display: flex;
    gap: 60px;
    margin: 0 20px;
    justify-content: space-evenly;
}
.texto{
    text-align: justify;
    flex-basis: 50%;
}
.texto h3{
    margin-bottom: 20px;
}

.imagem_natacao{
    flex-basis: 30%;
    border: 1px solid rgb(1, 1, 94);

}
.piscina{
    width: 100%;
}
@media (max-width: 768px){
    .caixa_sobre{
        flex-direction: column;
        text-align: center;
    }
}